header {
   padding-top: 1.8rem;
   margin-bottom: 3rem;

   h1 {
      font-size: 2.2em;
      display: inline-block;
      margin-left: 0.6em;
   }

   .header__ftlogo {
      width: 1.6em;
      height: 1.6em;
      display: inline-block;
      background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:brand-ft-logo-square?source=universal-publishing');
   }
}
