// .header {
//   min-height: initial;
//   background-color: #f8f8f8;
//   border: 1px solid transparent;
//   border-color: #e7e7e7;
//   border-radius: 4px;
//   position: relative;
//   margin-bottom: 0px;
//   a {
//     text-decoration: none;
//   }
//   h1 {
//     font-weight: 300;
//     text-decoration: none;
//     font-size: 165%;
//     display: inline-block;
//     margin: 0;
//     padding: 0;
//     vertical-align: middle;
//     color: black;
//   }
// }
//

.headroom-wrapper {
  background-color: black;
  color: white;
  h1 {
    font-size: 2em;
    padding: .5em;
  }
}
